
<div class="push-wrapper">

  <!-- Background Partials -->
  <%- include body/background %>


  <div class="root" id="wrapper">

    <!-- Logo Partials -->
    <%- include body/logo %>


    <div class="container courses-block" id="photo_section">

      <!-- Menu Partials -->
      <%- include body/menu_blocks %>

      <!-- Comming Soon Partias-->
      <%- include body/comming_soon %>

      <!-- About Partials -->
      <%- include body/read_more %>

      <!-- Social Medias Partials -->
      <%- include body/social_medias %>

    </div>

  </div>

  <!-- Footer Partials -->
  <%- include body/footer %>

</div>

<div class="alert-box"></div>

<!-- User Login Auth -->
<%- include body/user_auth %>


<script src="https://do6eyjibs3jse.cloudfront.net/assets/static_homepage/application-82a18993cdee30f43bceec02930cba04.js"></script>
